apiVersion: argoproj.io/v1alpha1
kind: AnalysisTemplate
metadata:
  name: loadgen
spec:
  metrics:
  - name: load-gen
    provider:
      job:
        spec:
          template:
            spec:
              containers:
              - name: loadgen
                image: jordi/ab
                command: [ab,"-n20","https://{{ .Values.ingress.root_domain }}/{{  .Release.Namespace }}"]
              restartPolicy: Never
          backoffLimit: 1