name: Kargo Job - Publish new image
run-name: Publish new image of Kargo cred sync job
on:
  push:
    branches:
      - main
    paths:
      - 'kargo-cred-sync-job/**'
permissions:
  packages: write
  attestations: write
  contents: read
  id-token: write
  pull-requests: write

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}-kargo-cred-sync-job

jobs:
  publish:
    defaults:
      run:
        working-directory: kargo-cred-sync-job
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        id: push
        with:
          context: kargo-cred-sync-job
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME}}:latest
  cleanup:
    name: ghcr.io cleanup action
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - uses: dataaxiom/ghcr-cleanup-action@v1
        with:
          keep-n-tagged: 5
          delete-ghost-images: true
          delete-orphaned-images: true
          delete-untagged: true
          packages: kargo-cred-sync-job
